@font-face {
    font-family: noto_sans;
    src: url(../css/Noto_Sans/NotoSans-Regular.ttf);
}

@font-face {
    font-family: noto_sans;
    src: url(../css/Noto_Sans/NotoSans-Bold.ttf);
    font-weight: bold;
}

.backg-blue {
    background-color: #2a49bf !important;
}

.mynav_ul {
    list-style-type: none;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    padding-left: 1em;
    padding-right: 1em;
    display: inline-block;
    float:none;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    -moz-box-shadow:    3px 0 200px 0 #555;
    -webkit-box-shadow: 3px 0 200px 0 #555;
    box-shadow:         3px 0 200px 0 #555;
}
  
.sidebar a {
    padding-left: 10%;
    text-decoration: none;
    font-size: 1.6em;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.sidebar .closebtn {
    font-size: 1.8rem;
}

#main {
    transition: margin-left .5s;
}
.search-bar {
    height: 30px;
}

.footer {
    background-color: #f8f9fa;
}

hr {
    border-top: 1px solid black;
    opacity: 20%;
}

.footer > div > hr {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.footer-nav > li > a {
    color: black;
    opacity: 60%;
    font-size: medium;
}

.legal-info {
    padding: 0;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 20px;
    opacity: 90%;
}

.legal-info > p > a {
    color: white;
    margin: 0;
    padding: 0;
    border: 0;
}
